<h4>Edit Album</h4>

<label>New Album Title:</label>
<input [(ngModel)]="selectedAlbum.title">
<br>

<label>New Album Artist:</label>
<input [(ngModel)]="selectedAlbum.artist">
<br>

<label>New Album Description:</label>
<input [(ngModel)]="selectedAlbum.description">

<hr>
<button (click)="beginUpdatingAlbum(selectedAlbum)">Update</button>
<hr>
<button (click)="beginDeletingAlbum(selectedAlbum)">Delete</button>

<!-- This button includes an event binding that triggers a beginDeletingAlbum() method when clicked, passing in the selectedAlbum. -->
