<div>
  <h3>{{albumToDisplay?.title}}</h3>
  <h4>{{albumToDisplay?.artist}}</h4>
  <p>{{albumToDisplay?.description}}</p>
</div>


<!-- -Remember the description of async pipes from the Angular documentation? They handle subscribing to Observables for us. However, we're now manually subscribing to them with the subscribe() method. We don't need to subscribe twice, so we'll remove the async pipe:

-In addition to being cleaner template code, this also creates room for us to implement our own custom pipe if we'd like! -->
