
<h2>Marketplace</h2>

<div *ngFor="let album of albums | async" (click)="goToDetailPage(album)" class="panel panel-default">
  <div class="panel-body">
    <h3><em>{{album.title}}</em> by {{album.artist}}</h3>
    <h1>{{album.$key}}</h1>
  </div>
</div>

<!-- firebase returns data to our application, like the list of Albums in our MarketplaceComponent it adds an extra property to each item. This property is called $key, and it contains the Firebase key that corresponds to that item's entry in the database. Let's check it out!

We'll temporarily display the $key property of each Album right in our MarketplaceComponent template, just to see -->
